/* YOU ARE IN: css/styles.css */

/*****  R E S E T S  *****/

body {
	background-color: #eae9e5;
	/* Border FIX so that borders are inside the box size */
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

article, aside, figure, footer, header, hgroup, menu, nav, section { 
	display: block;
}


/*****  T Y P O G R A P H Y  *****/

body {
	font-family: "ff-tisa-web-pro", Georgia, serif;
	font-size: 16px;
	line-height: 1.5em;
	color: #6c6c6c;
}
h1 {
    font-size: 2.5em;
    line-height: 1em;
}
.feat-maintext h1 {
    padding-top: .2em;
}
h2,
.inv-artist,
legend {
    font-family: "nimbus-sans", Arial, sans-serif;
    font-size: 1.5em;
    line-height: 1.25em;
}
legend,
.introtext {
    padding-top: 1.5em;
}
p,
ul.feat-eventstext li {
    padding-top: 1em;
}

label,
.introtext p {
    padding-top: .5em;
}
ul li:first-child,
.caption,
legend:first-child,
.feat-maintext p:first-child,
.feat-order p,
.introtext:first-child,
.learn-cont p:first-child {
    padding-top: 0;
}
.caption,
.parsley-error-list {
    font-size: .8em;
    line-height: 1.2em;
}
.parsley-error-list {
    color: #cc3f35;
    font-style: italic;
}
.bold,
.caption .print-title {
    font-weight: bold;
    font-style: italic;
}
.italic,
.inv-text .print-title {
    font-style: italic;
}
.uline {
    text-decoration: underline;
}
header nav {
	font-family: "nimbus-sans", Arial, sans-serif;
}
/*.logo {
	font-size: 2.2em;
}*/
.navbar-handle {
    font-size: 1em;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.main-nav a,
.ham-nav a {
	font-size: .75em;
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.main-nav a {
    padding-left: 20px;
}
.main-nav a:hover,
.ham-nav a:hover {
	color: #229dd8;
	text-decoration: none;
}
.main-nav a.curr-nav,
.ham-nav a.curr-nav {
    color: #229dd8;
}
.bbar {
	font-family: "nimbus-sans", Arial, sans-serif;
}
p a,
li a,
p a:visited,
.inv-artist a,
.inv-artist a:visited {
    color: #229dd8;
    text-decoration: none;
}
p a:hover,
li a:hover,
.inv-artist a:hover {
    color: #39b3ee;
    text-decoration: none;
}
input.submit-button {
    font-family: "nimbus-sans", Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: white;
}
footer,
footer a {
	color: #eae9e5;
}
footer .more-info {
    font-family: "ff-tisa-web-pro", Georgia, serif;
    font-style: italic;
	text-align: center;
	padding-top: 18px;
}
footer .foot-deets {
    font-family: "nimbus-sans", Arial, sans-serif;
    font-size: .8em;
    line-height: 1.2em;
    letter-spacing: 0.5px;
}



/*****  G R I D P A K  *****/

/*!
 * Gridpak Beta CSS
 *
 * Generator - http://gridpak.com/
 * Created by @erskinedesign
 */
 
body,
html,
div {
     margin: 0;
     padding:0;
 }
/*
Page is our center aligned 93% width container. We have set it's 'position' as relative
so that the Gridpak overlay will appear in the correct position. We have also updated
the gridpak.js file to use '.page' as it's container.
*/
.page {
     margin: 0 auto;
     margin-top: 15px;
     max-width: 93%;
     overflow: hidden;
     position: relative;
}

/* Reusable column setup */
.col {
    border: 0px solid rgba(0,0,0,0);
    float: left;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    -moz-background-clip:padding-box !important;
    -webkit-background-clip:padding-box !important;
    background-clip:padding-box !important;
    /*background: #777;*/
    margin-bottom: 10px;
}


/* 12 Column Grid 780px - Infinity 
----------------------------------------------------------------------------- */

/*@media screen and (min-width: 780px) {*/
    
    .col {
        margin-left:1.25%;
        padding:0 2%;
    }
    .row {
        overflow: hidden;
    }
    .row .col:first-child {
        margin-left:0;
    }

    
    
    .span_1 {
        width:7.1875%;
    }
    
    .span_2,
    .foot-sm {
        width:15.625%;
    }
    .span_3 {
        width:24.0625%;
    }
   
    .span_4,
    .feat-mainimg,
    .feat-order,
    .bioimg,
    .foot-lg {
        width:32.5%;
    }
    .span_4merge,
    .feat-mainimg,
    .bioimg {
        padding: 0 0 0 2%;
    }
    .span4inside,
    .order-bbar,
    .feat-ordertext {
        padding: 0 6.1538%;
    }
    
    .span_5 {
        width:40.9375%;
    }
    .span_6,
    .form-intro,
    .form-container,
    .learn-intro {
        width:49.375%;
    }
    .span6inside,
    .form-intro .introtext,
    .fieldset-cont,
    .submit-msg,
    .form-bbar,
    .learn-intro .learn-cont,
    .learn-bbar,
    .video-bbar {
        padding: 0 4.0506%;
    }
    .span_7 {
        width:57.8125%;
    }
    .span_8,
    .feat-maintext,
    .feat-events,
    .biosketch {
        width:66.25%;
    }
    .span8inside,
    .events-bbar,
    .feat-events ul,
    .inv-bbar,
    .inv-text {
        padding: 0 3.077%;
    }
    .span_9 {
        width:74.6875%;
    }
    
    .span_10 {
        width:83.125%;
    }
    
    .span_11 {
        width:91.5625%;
    }
    .span_12,
    .header,
    .feature,
    .feature-bbar,
    .artist-bio,
    .inventory,
    .footer {
        width:100%;
        margin-left:0;
    }
    .span12inside,
    .inv-bbar,
    .inv-text {
        padding: 0 2%;
    }
    .span-container,
    .feat-order,
    .feat-events,
    .form-intro,
    .form-container,
    .inventory,
    .learn-intro {
        padding: 0;
    }
    .bbar-container,
    .order-bbar,
    .events-bbar,
    .inv-bbar {
        width: 100%;
    }
/*} */

 
 

/*****  L A Y O U T  *****/

/*****  H E A D E R  *****/
/*.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
}
.clearfix { display: inline-block; }*/
/*.clearfix:after {
  content: ' ';
  display: block;
  clear: both;
}*/
.clearfix:before,
.clearfix:after {
  content: ' ';
  display: table;
}
.clearfix:after {
  clear: both;
}
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }

header {
	width:100%;
	/*height:120px;*/
	background-color: #2e2c2d;
    /*overflow: hidden;*/
    padding-bottom: 15px;
	background-color: #2e2c2d;
}
header .container {
    width: 93%;
    margin: 0 auto;
    padding-top: 22px;
    /*overflow: hidden;*/
}
.logo {
	float: left;
    clear: both;
    height: 49px;
    width: 350px;
    /*margin-top: 27px;*/
    background: url('../image/stewart_logo.png') no-repeat 0 0;
    background-size: 100%;
    opacity: 1;
}
.logo-cont:hover > div {
  opacity: 0.8;
}

.artist-jump {
	display: block;
    float: right;
    clear: left;
    width: 20%;
}
/*.artist-jump select {
	float: right;
}*/
.main-nav {
	float: right;
    margin-top: 30px;
}
.main-nav li {
	display: inline-block;
}
.clear {
    clear: both;
}
.ham-nav {
    display: none;
}
.ham-menu {
    padding: 0;
    margin-top: 7px;
    background: #444;
    min-height: 2em;
    line-height: 1em;
}
.ham-menu ul {
    -webkit-transition: max-height 0.25s linear; /* For Safari 3.1 to 6.0 */
    transition: max-height 0.25s linear;
    margin: 0;
    padding: 0;
    text-align: left;
}
.ham-menu li {
    -webkit-transition: visibility .25s linear; /* For Safari 3.1 to 6.0 */
    transition: visibility .25s linear;
    display: inline-block;
    padding: .45em 0;
    margin: 0 3.5%;
}
.ham-menu li:first-child {
    margin-top: 2.5em;
}



/*****  M A I N :  H O M E  *****/
.feature,
.feat-order,
.feat-events,
.artist-bio,
.form-intro,
.form-container,
.inventory,
.learn-intro {
    background-color: white;
}
.feat-mainimg {
    vertical-align: top;
    margin-top: 18px;
}
/*Content within a white box container*/
.feat-maintext,
.feat-ordertext,
.feat-eventstext,
.biosketch,
.introtext,
.fieldset-cont,
.submit-msg,
.inv-text {
    vertical-align: top;
    margin-top: 14px;
    margin-bottom: 20px;
}
.feat-mainimg img {
    width: 100%;
}
.feat-order,
.feat-events,
.bio-bbar {
    margin-top: 16px;
}
.row-sp {
    height: 16px;
    width: 100%;
    background-color: #eae9e5;
}
.feat-order .card-head {
    padding: 0 -7.8%;
}


/*****  M A I N :  C A R D S  *****/
.bbar {
    color: white;
    background-color: #2e2c2d;
    padding-top: 10px;
    padding-bottom: 10px;
}
.bbar a {
    text-decoration: none;
    color: white;
}
.artist-bbar,
.bio-bbar {
    padding-left: 18px;
    padding-right: 18px;
}
.art-bbar {
    padding-bottom: 0;
}
.bioimg {
    margin-top: 18px;
}
/*.artist-bio .biosketch,
.feature .feat-maintext {
        padding-left: 0;
    }*/
.caption {
    padding: 16px 18px 20px 18px;
}
.feat-mainimg .caption {
    padding: 16px 0 20px 0;
}


/*****  M A I N :  C E N T E R E D  A R E A S  *****/

.spin-cont {
    margin: 0 auto;
    width: 30px;
}
.spinner {
    width: 100%;
    margin-top: 15px;
}

/*****  M A I N :  L E A R N  *****/
.learn-cont {
    margin-top: 14px;
    margin-bottom: 20px;
}
.embed-container { 
    position: relative; 
    padding-bottom: 56.25%; 
    height: 0; 
    overflow: hidden; 
    max-width: 100%; 
    height: auto; 
} 
.embed-container iframe, 
.embed-container object, 
.embed-container embed { 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
}



/*****  M A I N :  F O R M S  *****/

input::-webkit-input-placeholder { /* WebKit browsers */
    color: #666;
}
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #666;
}
input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #666;
}
input:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #666;
}
input.firstname,
input.lastname,
input.email,
input.phone,
input.address1,
input.address2,
input.city,
input.state,
input.zip,
textarea.comments {
    display: block;
    width: 100%;
    min-height: 29px;
    /* Border FIX so that borders are inside the box size */
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    border: 1px solid #aaa;
    padding: 5px;
    margin: 1px 0;
    -webkit-box-shadow: inset 0px 2px 5px #eee;
    -moz-box-shadow: inset 0px 2px 5px #eee;
    box-shadow: inset 0px 2px 5px #eee;
    color: #666;
    font-size: 13px;
    font-family: sans-serif;
    line-height: normal;
}
input.address2 {
    margin-top: 7px;
}
input:focus,
textarea:focus {
    outline: none;
    border: 1px solid #5897fb;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,.3);
    -moz-box-shadow: 0 0 5px rgba(0,0,0,.3);
    box-shadow: 0 0 5px rgba(0,0,0,.3);
}
textarea.comments {
    height:150px;
}
label {
    display: block;
}
.order-form input[type="checkbox"],
.contact-form input[type="checkbox"] {
    display: inline-block;
    vertical-align: text-top;
    width: 6%;
    margin: 21px 0 0 0;
}
.order-form input[type="checkbox"]:focus,
.contact-form input[type="checkbox"]:focus {
    outline: none;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.state-cont {
    display: inline-block;
    width: 60%;
}
.zip-cont {
    display: inline-block;
    width: 36%;
    margin-left: 3%;
}
.subscribe-text {
    font-size: .8em;
    line-height: 1.2em;
    display: inline-block;
    vertical-align: text-top;
    width: 92%;
    margin-top: 20px;
}
input.submit-button {
    width: 62.786%;
    padding: 10px 20px;
    margin: 24px 18.607% 0 18.607%;
	background-color: #229dd8;
    border: none;
    color: white;
    text-align: center;
    font-size: 1em;
    cursor: pointer;
}
input.submit-button:hover {
    background-color: #39b3ee;
}
input.submit-button:active {
    background-color: #229dd8;
}
.disp-none,
.otherphonetrap {
    display: none;
}
input.submit-button:active {
    background-color: #229dd8;
}
.disp-none,
.otherphonetrap {
    display: none;
}

/*****  P A R S L E Y  F O R M  V A L I D A T I O N  *****/

input.parsley-error {
    border: 1px solid #cc3f35;
}


/*****  P A R S L E Y  F O R M  V A L I D A T I O N  *****/

input.parsley-error {
    border: 1px solid #cc3f35;
}


/*****  F O O T E R  *****/

footer {
	background-color: #2e2c2d;
	margin-top: 18px;
    padding-bottom: 14px;
}
footer .more-info {
    width: 93%;
    margin: 0 auto;
}
footer .break {
    width: 100%;   
    height: 1px;
    background-color: #444;
    margin: 22px 0;
}
.row .foot-deets {
	display: inline-block;
    padding: 0;
}
.foot-deets img {
    width: 100%;
}
.row ul.copy-under {
    display: none;
}
.row .foot-org {
    display: none;
}


/*****  H A R V E S T  C H O S E N  *****/

.chosen-container-multi .chosen-choices li.search-choice .search-choice-close,
.chosen-container-single .chosen-single div b,
.chosen-container-single .chosen-search input[type=text] {
	background-image: url( ../image/chosen-sprite.png );
}

.chosen-container-multi,
.chosen-container-single {
    font-family: sans-serif;
}

/*****  M A I N :  L I G H T B O X  *****/
#imagelightbox
{
    position: fixed;
    z-index: 9999;
}
#imagelightbox-overlay {
    background-color: rgba( 255, 255, 255, .9 );
}

/*****  F R E E W A L L  *****/

.free-wall {
    width: 100%;
}
.brick {
    width: 300px;
    height: auto;
    background-color: white;
}
/*@media screen and (min-width: 800px) {
    .brick{
        width: 250px;
    }
}
@media screen and (max-width: 799px) {
    .brick{
        width: 150px;
    }
}*/

.brick img {
    display: block;
    width: 100%;
    max-width: 100%;
}



/* 780px - 1060px  H E A D E R  
----------------------------------------------------------------------------- */
@media screen and (min-width: 780px) and (max-width: 1060px) {
    .artist-jump {
        width: 25%;
    }
    .logo {
        clear: none;
    }
    .main-nav {
        float: left;
        margin-top: 15px;
        margin-left: -20px;
        clear: both;
    }
}


/* 12 Column Grid 780px - 1100px  F O O T E R  
----------------------------------------------------------------------------- */
@media screen and (min-width: 780px) and (max-width: 1100px) {

    .row ul.copy-under {
        display: block;
        margin-top: 20px;
    }
    .row ul.copy-col {
        display: none;
    }
    .span_3,
    .foot-sm,
    .foot-lg {
        width:24.0625%;
    }
    .span_12,
    .copy-under {
        width:100%;
        margin-left:0;
    }
}

/* H E A D E R  0px - 779px 
----------------------------------------------------------------------------- */

@media screen and (min-width: 0px) and (max-width: 779px) {
    .main-nav {
        display: none;
    }
    
    .ham-nav {
        display: block;
    }
    .ham-menu ul {
        max-height: 0;
        overflow: hidden;
        margin: 0;
    }
    .ham-menu li {
        visibility: hidden;
        display: block;
        padding: 0 0 1em 0;
        border: none;
    }
    .ham-menu .navbar-handle {
        display: block;
    }
    #navbar-checkbox:checked + .ham-menu ul {
        max-height: 400px;
    }
    #navbar-checkbox:checked + .ham-menu li {
        visibility: visible;
    }
    .navbar-checkbox {
        display: none;
    }
    .navbar-handle {
        display: none;
        cursor: pointer;
        position: relative;
        padding: 0;
        height: 0;
    }
    .ham-menu {
        float:left;
        /*position: relative;
        top: 50px;*/
        width: 100%;
        margin: 15px auto -15px auto;
    }
    .ham-menu .navbar-handle {
        position: absolute;
        top: 88px;
        left: 3.5%;
        z-index: 10;
    }
}


/* 6 Column Grid 500px - 779px 
----------------------------------------------------------------------------- */

@media screen and (min-width: 500px) and (max-width: 779px) {
    /*footer,
    header {
        background-color: gray;
    }*/
    .col {
        margin-left: 2%;
        padding: 0 3%;
    }
    
    .row .col:first-child {
        margin-left:0;
    }
    
    /*
    Add your semantic classnames in alongside their corresponding spans here. e.g.
    
    .span_3,
    .my_semantic_class_name {
        ...
    }
    */
    
    .span_1 {
        width:15.0%;
    }
    .span_2,
    .feat-order,
    .foot-sm {
        width:32.0%;
    }
    .span_2inside
    .order-bbar,
    .feat-ordertext {
        padding: 0 9.375%; /*IS THIS MATH RIGHT? */ 
    }
    .span_3 {
        width:49.0%;
    }
    .span_4,
    .feat-events,
    .feat-maintext {
        width:66.0%;
        height: 400px;
    }
    .span_4inside,
    .events-bbar,
    .feat-events ul {
        padding: 0 4.5455%;
    }
    .span_5 {
        width:83.0%;
    }
    .span_6,
    .header,
    .footer,
    .copy-under,
    .related_content {
        width:100%;
        margin-left:0;
    }

    /* H E A D E R */
    .artist-jump {
        float: right;
        clear: none;
        width: 40%;
    }
    .logo {
        float: left;
        clear: none;
        margin-top: 4px;
        height: 39px;
        width: 275px;
    }
    /* F O O T E R */
    .row ul.copy-under {
        display: block;
        margin-top: 20px;
    }
    .row ul.copy-col {
        display: none;
    }
}

/* 6 Column Grid 500px - 570px F O O T E R
----------------------------------------------------------------------------- */

@media screen and (min-width: 500px) and (max-width: 570px) {
    .span_1,
    .row .foot-xs {
        width:15.0%;
    }
}

/* H E A D E R  0px - 569px 
----------------------------------------------------------------------------- */

@media screen and (min-width: 0px) and (max-width: 569px) {
    /*footer,
    header {
        background-color: gray;
    }*/
    .artist-jump {
        float: left;
        clear: right;
        /*float: none;
        display: block;
        margin: 0 auto;*/
        width: 60%;
    }
    .logo {
        float: left;
        clear: right;
        margin-top: 12px;
        /*float: none;
        display: block;
        margin: 12px auto 0 auto;*/
        height: 47px;
        width: 325px;
    }
    .ham-menu .navbar-handle {
        top: 132px;
    }
}

/* 2 Column Grid 0px - 499px 
----------------------------------------------------------------------------- */

@media screen and (min-width: 0px) and (max-width: 499px) {
    
    .row .col:first-child {
        margin-left:0;
    }
    .row {
        overflow: hidden;
    }
    .col {
        margin-left: 4%;
        padding:0 3%;
    }   

    .span_1,
    .foot-sm,
    .foot-org {
        width:48%;
    }
    .span_2 {
        width:100%;
    }
    /*.span_2inside,
    .feat-mainimg,
    .feat-maintext,
    .feat-ordertext,
    .feat-eventstext {
        padding: 0 4%;
    }*/
    /*.span-container,
    .feature,
    .feat-order,
    .feat-events {
        padding: 0;
    }*/

    /* F O O T E R */
    .row ul.copy-under {
        display: block;
        margin-top: 14px;
    }
    .row ul.copy-col {
        display: none;
    }
    .row .foot-xs {
        display: none;
    }
    .foot-org {
        margin-top: 14px;
    }
}

/*****  M A I N :  C A R D S  *****/
.bbar {
    padding-top: 10px;
    padding-bottom: 10px;
}




